header {
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px 0;
    background: #fff;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 200px;
        background: #fe2722;
        border-radius: 10px;
        padding: 10px;
        &__logo {
            width: 150px;
            img {
                width: 100%;
            }
        }
        &__right {
            display: flex;
            flex: 1;
            // align-items: center;
            gap: 10px;
        }
        &__btn {
            padding: 8px;
            background: #e81711;
            border-radius: 10px;
            width: 65px;
            text-wrap: nowrap;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 5px;
            transition: 0.3s;
            &:hover {
                opacity: 0.8;
                // backdrop-filter: blur(5px);
            }
            img {
                width: 25px;
                color: #fff;
            }
            p {
                font-size: 12px;
                color: #fff;
                font-weight: 600;
            }
        }
        &__input {
            display: flex;
            flex: 1;
            overflow: hidden;
            border-radius: 10px;
            background: #fff;
            gap: 10px;
            padding: 5px;
            input {
                flex: 1;
                border-radius: 10px;
                background: transparent;
                font-size: 16px;
            }
            button {
                background: #ccff66;
                padding: 0 50px;
                border-radius: 30px;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        @media (max-width: 1100px) {
            gap: 100px;
            &__logo {
                width: 100px;
            }
            &__btn {
                width: 40px;
                img {
                    width: 20px;
                }
                p {
                    display: none;
                }
            }
            &__input {
                button {
                    padding: 0 20px;
                }
            }
        }

        @media (max-width: 790px) {
            background: #cdd5df;
            padding: 0;
            &__btn {
                display: none;
            }
            &__logo {
                display: none;
            }
            &__input {
                background: transparent;
                gap: 0;
                input {
                    background: #fff;
                    padding: 15px;
                    width: 100%;
                }
                button {
                    border-radius: 10px;
                }
            }
        }
    }
}
